<body>

  <!-- logo -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h1 class="display-1">Company Name</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Antu_transmission-tray.svg/2000px-Antu_transmission-tray.svg.png" alt="">
      </div>
    </div>
  </div>

  <!-- if user already, show this   -->
  <div class="box1" *ngIf="registerAccount == false">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3" id="box1">
          <div class="login">
            <div class="text-center">
              <h1>Sign In</h1>
            </div>
            <form>
              <h3>Email:</h3>
              <input type="text" placeholder="email" name="email" [(ngModel)]='user.email' #email='ngModel'><br>
              <h3>Password:</h3>
              <input type="password" placeholder="password" name="password" [(ngModel)]='user.password' #password='ngModel'>
              <span *ngIf="credentials == false">Incorrect email or password.</span>
              <button (click)="checkPassword(user.password,user.email)">login</button><br>
            </form>
          </div>
      </div>
    </div><br>

    <!-- if user does not exist, click this link to go to registration -->
    <div class="text-center" id="create_account">
      <p>Don't have an account? <a (click)="register()" style="cursor: pointer;">Create one.</a></p>
    </div>

  </div><br>

  <!-- USER REGISTRATION -->
  <div class="box1" *ngIf="registerAccount == true">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3" id="box1">
          <div class="login">
            <div class="text-center">
              <h1>Create Account</h1>
            </div>
            <form name="formData" #formData="ngForm" (submit)="onSubmit(formData)">

              <!-- first name -->
              <h3>*First Name:</h3>
              <input type="text" placeholder="first name" name='first_name' [(ngModel)]='user.first_name' #first_name='ngModel' required>
              <span *ngIf="!first_name.valid && first_name.dirty">First name required</span>

              <!-- last name -->
              <h3>*Last Name:</h3>
              <input type="text" placeholder="last name" name='last_name' [(ngModel)]='user.last_name' #last_name='ngModel' required>
              <span *ngIf="!last_name.valid && last_name.dirty">Last name required</span>

              <!-- email -->
              <h3>*Email:</h3>
              <input type="text" placeholder="email" name='email' [(ngModel)]='user.email' #email='ngModel' pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' required>
              <span *ngIf="!email.valid && email.dirty">Invalid Email</span>
              <span *ngIf="userExists == true">Email already exists.</span>

              <!-- phone number -->
              <h3>*Phone Number:</h3>
              <input [textMask]="{mask: mask}" type="text" placeholder="+1 (123) 555-2345" name='phone_number' [(ngModel)]='user.phone_number' #phone_number='ngModel' required>
              <span *ngIf="!phone_number.valid && phone_number.dirty">Phone number required</span>

              <!-- password -->
              <h3>*Password:</h3>
              <input type="password" placeholder="password" name='password' [(ngModel)]='user.password' #password='ngModel' minlength="7" required>
              <span *ngIf="password.dirty && !password.valid">Password required to be at least 7 characters</span>

              <!-- confirm password -->
              <h3>*Confirm Password:</h3>
              <input type="password" placeholder="confirm password" name='confirm' [(ngModel)]='user.confirm' #confirm='ngModel' required><br>
              <span *ngIf="(user.password != user.confirm) && password.dirty && confirm.dirty">Passwords do not match</span>

              <!-- create account -->
              <button type="submit" [disabled]="!(formData.valid)">Create Account</button>
            </form>
          </div>
      </div>
    </div><br>

    <div class="text-center" id="create_account">
      <p>Already have an account? <a (click)="register()" style="cursor: pointer;">Log In.</a></p>
    </div>

  </div><br>

</body>
